<form [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()"
      [class]="fetching && 'fetching'">
  <app-loader *ngIf="fetching"></app-loader>
  <!-- NAME -->
  <mat-form-field appearance="outline">
    <input matInput
           placeholder="name"
           formControlName="name"
           required>
    <mat-label align="end">name</mat-label>

    <!-- icon -->
    <mat-icon matSuffix>account_circle</mat-icon>

    <!-- hint -->
    <mat-hint align="end">4 characters min</mat-hint>

    <!-- errors -->
    <mat-error *ngIf="name.errors && name.errors.required">
      required
    </mat-error>
    <mat-error *ngIf="name.errors && name.errors.minlength">
      4 characters min
    </mat-error>
  </mat-form-field>

  <!-- EMAIL -->
  <mat-form-field appearance="outline">
    <input matInput
           placeholder="email"
           formControlName="email"
           required
           type="email">
    <mat-label align="end">email</mat-label>

    <!-- icon -->
    <mat-icon matSuffix>email</mat-icon>

    <!-- errors -->
    <mat-error *ngIf="email.errors && email.errors.required">
      required
    </mat-error>
    <mat-error *ngIf="email.errors && email.errors.email">
      email not look good
    </mat-error>
  </mat-form-field>

  <!-- PASSWORD -->
  <mat-form-field appearance="outline">
    <input matInput
           placeholder="password"
           formControlName="password"
           [type]="!hide ? 'password' : 'text'"
           required>
    <mat-label align="end"
               class="icon">password</mat-label>

    <!-- icon -->
    <mat-icon matSuffix
              (click)="hide = !hide"
              class="custom--icon">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>

    <!-- hint -->
    <mat-hint align="end">must be strong</mat-hint>

    <!-- errors -->
    <mat-error *ngIf="password.errors && password.errors.minlength">
      6 characters min
    </mat-error>
    <mat-error *ngIf="password.errors && password.errors.required">
      required
    </mat-error>
  </mat-form-field>

  <!-- CONFIRM PASSWORD -->
  <mat-form-field appearance="outline">
    <input matInput
           placeholder="confirm password"
           formControlName="password2"
           [type]="!hide2 ? 'password' : 'text'"
           required>
    <mat-label align="end"
               class="icon">confirm password</mat-label>

    <!-- icon -->
    <mat-icon matSuffix
              (click)="hide2 = !hide2"
              class="custom--icon">{{!hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>

    <!-- hint -->
    <mat-hint align="end">passwords must match</mat-hint>

    <!-- errors -->
    <mat-error *ngIf="password2.errors && password2.errors.matchPassword">
      passwords must match
    </mat-error>
    <mat-error *ngIf="password2.errors && password2.errors.required">
      required
    </mat-error>
  </mat-form-field>

  <button class="register-submit"
          mat-raised-button
          color="primary"
          [disabled]="registrationForm.invalid || fetching">submit</button>
</form>

<mat-chip-list>
  <mat-chip routerLink="/{{loginLink}}"
            class="login-redirect"
            color="accent">already signed in?</mat-chip>
</mat-chip-list>
